.container {
    width: 100% !important;
   
}

.flex-container {
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
}


.sign-in-page  {
    background: #121212 !important;
    width: 40%;
    height:100vh;
} 

.sign-in-logo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.tagLine {
    text-align: center;
    color: white;
}

.form-group {
 padding-left: 10rem;
 justify-content: center;
}

.form-div {
    margin-top: 2rem;
}

.form-label {
margin: 0px;
padding: 0px;
font-size: small;
}

.btn-primary {
    background: #eb5054 !important;
    border-color: #ea5054 !important;
    border-radius: 22px !important;
    width: 250px;
    height: 40px;
    text-transform: none;
}



.footericon {
    text-align: center;
    justify-content: center;
}


.singIn-tag {
    width: 60%;
    height:100vh !important;
    
}

.sign-in-detail {
    background-image: url('../assets/landingbg.76d3a990.png');
    background-repeat: no-repeat;
    position: absolute; 
    height:100vh !important;
    width: 60%;
    position: absolute; 
    background-size: cover;
    display: block;
}


.imgoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    z-index: 10; 
} 


 .lcontent {
     margin-top: 300px;
     color: #fff;
     justify-content: center;
     z-index: 99;
     text-align: center;
 }


.lcontent h1 {
    color: #fff;
    font-size: 3em;
}

 .tagline-detail img {
     height: 40px;
     width: 40px;
 }







