
label.MuiFormControlLabel-root.custom-radio {
  margin-left: 0;
  margin-right: 0;
  color: #fff;
  border: #fff;
}

.custom-radio {
  margin-left: 0;
  margin-right: 0;
  color: white !important; 
  border: #fff;
  .MuiRadio-colorPrimary.Mui-checked {
    color: #44A2FC;
    border: #fff;

  }
  .Mui-checked ~ .MuiTypography-body1 {
    border: #fff;
  color: white;

  }
}

.MuiFormControlLabel-root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  border: #fff ;
  color: white;


}
